* {
  font-family: "Times New Roman", Times, serif;
}

div.tutorial {
  background-color: crimson;
  height: 180px;
  width: 300px;
  border: 1rem solid yellow;
  padding: 2rem;
}

div h1 {
  color: aliceblue;
}

p {
  color: aliceblue;
}

#wekka {
  color: aqua;
}

/* Exercise 1*/

div.big-box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}

div.small-box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}

/* Exercise 2*/

div.greetings {
  background-color: black;
  width: 200px;
  height: 200px;
}

p.greeting-paragraph {
  color: white;
  padding: 1rem;
}

/* Exercise 3 */

div.border-check {
  border: 1rem solid red;
  background-color: black;
  width: 200px;
  height: 200px;
}

/* Exercise 4 */

div.border-design {
  border: 4px solid yellow;
  background-color: white;
  width: 100%;
  height: auto;
}

div.border-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: black;
  height: 60px;
  width: 100%;
}

h1.e4 {
  color: yellow;
  font-size: larger;
  margin: 0;
}

.border-design p {
  border: 0.5rem solid black;
  color: black;
  padding: 1rem;
  margin: 1rem;
}

/* Exercise 5*/

div.box1 {
  display: inline-block;
  background-color: forestgreen;
  width: 200px;
  height: 200px;
}

div.box2 {
  display: inline-block;
  background-color: blueviolet;
  width: 200px;
  height: 200px;
}

p.text1 {
  display: inline;
  background-color: blueviolet;
}

p.text2 {
  display: inline;
  background-color: chocolate;
}

/* Exercise 6*/

div.nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-size: large;
  border: 5px solid yellow;
  background-color: white;
}

div div.nav-item {
  display: inline;
  background-color: black;
  color: white;
}

/* Exercise 7*/

nav {
  color: white;
  background-color: black;
}

h1,
ul,
li {
  display: inline;
  margin: 5px;
  padding: 1rem;
}

ul {
  margin: 30%;
}
